.container {
  max-width: 60rem;
  margin: 0 auto;
  padding: 0 $m-size;
}

.ListTask {
  background-color: var(--container-bg-color);
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
}
