.container {
  max-width: 60rem;
  margin: 0 auto;
  padding: 0 $m-size;
}

.ListTask {
border-bottom: 1px solid lighten($light-blue, 10%);
display: flex;
justify-content: space-between;
padding: $l-size $m-size;

}
