.container {
  max-width: 60rem;
  margin: 0 auto;
  padding: 0 $m-size;
}


.ListTask {
border-bottom: 1px solid lighten($light-blue, 10%);
display: flex;
justify-content: space-between;
padding: $l-size $m-size;

}

@media (max-width: 500px) {
  .container {
    width: 85%;
    padding: 1rem 2rem;
  }
  .ListTask {
    width: 100%;
    padding: 1rem 2rem;
    justify-content: space-between;
  }
}
